pillow
opencv-python
pyyaml

flask
flask_pymongo
flask_cors
imutils
numpy
opencv-python
matplotlib
dlib
bcrypt
passlib
flask_jwt_extended
apscheduler






pillow
flask_jwt_extended
flask==1.0.0
flask_pymongo==2.3.0
flask_cors==3.0.10
imutils
#numpy
matplotlib
dlib
bcrypt
passlib
apscheduler
pyyaml
tensorflow_hub
neuralgym011

